<Configuration xmlns="https://logging.apache.org/xml/ns"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="
                   https://logging.apache.org/xml/ns
                   https://logging.apache.org/xml/ns/log4j-config-2.xsd">

    <Appenders>
        <Console name="STDOUT_PLAIN" target="SYSTEM_OUT">
            <PatternLayout
                disableAnsi="false"
                pattern="%d{HH:mm:ss.SSS} %highlight{%-5p} [%-30.30thread] %-25.25logger{20} -- %highlight{%m}%n"
            />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="com.sun" level="WARN"/>
        <Logger name="jdk.event.security" level="INFO"/>
        <Logger name="sun.rmi" level="WARN"/>
        <Logger name="sun.rmi.transport" level="WARN"/>

        <Root level="INFO">
            <AppenderRef ref="STDOUT_PLAIN"/>
        </Root>
    </Loggers>
</Configuration>
